{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body>
{% if user.is_superuser %}
    <div class="admin-panel">
        <a href="#" class="update-button">Обновить</a>
    </div>
{% endif %}
<header>
    <p class="header-title">R-Team 神/Костюм WC?</p>
    <div class="draw-top">
        <h1 class="section-title total"></h1>
        <svg class="top-diagram"></svg>
    </div>
</header>
<section class="youtube-section">
    <h1 class="section-title">Популярные видео на youtube: </h1>
    <svg class="youtube-diagram"></svg>
</section>
<section class="activity-section">
    <h1 class="section-title">Наибольшая активность</h1>
    <svg class="activity-diagram"></svg>
</section>

<section class="table-dashboard">
    <div class="dashboard-wrapper">

    </div>
</section>
{% csrf_token %}
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="{% static 'js/draw.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>