*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.admin-panel{
    padding: 25px;
    background-color: #2B4059;
    text-align: center;
}

.top-diagram{
    margin-top: 100px;
}

.update-button{
    text-decoration: none;
    font-size: 20px;
    color: #436D9B;
}

header{
    text-align: center;height: 95vh;
    /*background: url("http://i.imgur.com/zu4Efeg.jpg") no-repeat center;*/
    background:#D3E9F4;
    background-size: cover;
}

.header-title{
    color: #fff;
    font-size: 30px;
    background: #2c3e50;
    padding: 30px;
}

.main-section{

}
.in-costume{
    padding-top: 20px;
}

.big-text{
    font-size: 40px;
    text-transform: uppercase;
}

rect:hover{
    fill: #5e93ac;
}

.stats-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}




.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.draw-top{
    margin-top: 20px;
}

.draw-top > p{
    text-transform: uppercase;
    font-size: 30px;
    color: #43737F;
}